.contentContainer{
    
    img{
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

.container{
    max-width:720px;
    margin: 5rem auto 0;

    strong{
        font-weight: 700;
        font-size: 3rem;
    }


}

